* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: $fontSize;
  min-width: 320px;
}


// @mixin wrapper {
//   max-width: 1150px;
//   display: flex;
//   justify-content: space-between;
// }
